
      
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


*{
    box-sizing: border-box;
padding: 0px;
margin: 0px;
font-family:'Montserrat', sans-serif;}


body{
    font-size:  'Montserrat', 'sans-serif' !important;
    background-color: rgb(186, 195, 207);
}

.sidebar{
    height: 100vh;
   
    font-weight: 400;
}


.nav-pills>ul>li>a{
    font-size: 13px;
    color: rgba(61, 77, 105, 0.8);
    margin-left: 5px; 
}

.sidebar{
    border-right: 1px solid rgb(224, 224, 224);
}

.heading{
    color: rgb(32, 190, 173)
}

.nav-pills>li>a{
    font-size: 14px;
    color:rgb(61, 77, 105) !important; 
}

.nav-pills>li>a:hover{
  color: gray;
}

.sub-heading>h6{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 600;
    color: rgba(61, 77, 105, 0.8);
}


.category{
    margin-top: 10px;
}


.profile-container{
    bottom: 10px !important;
}




.alert-box{
    height: 40px !important;
    color: white;
    /* background-color: rgb(61, 77, 105); */
    background-color: #3d3b51;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-box>span:nth-child(1){
    color: #ef7f1a;
}
.alert-box>span:nth-child(3){
    color: #ef7f1a;
}

.page-header{
    padding: 15px;
}

.page-heading{
    font-size: 20px;
    color: rgb(31, 41, 57);
    font-weight: 500;
    /* line-height: 34px; */
    margin-bottom: 0px;
   
}

.header-date{
    font-size: 14px;
    border: 1px solid #b46b2b ;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
}

.data-container{
    border: 2px solid grey;
    border-radius: 6px;
    padding: 10px;
    margin-top: 20px;
}